@{
    ViewBag.Title = "Access was denied";
}

<main>
    <div class="mt-4 text-center">
        <h4 class="mt-3 text-danger-emphasis">You are not allowed to be here.</h4>
        <img style="max-height: 364px;" class="img-fluid" src="/images/access_denied.png" />
    </div>
</main>

