@{
    ViewBag.Title = "Facilify - About";
}


<main>
    <div class="mt-4">
       <h2 class="text-muted">About Us</h2>
       <br />
        <p style="text-align:justify;">
            UFS Facilify provides an easy-to-use platform to help students, staff and visitors of the University of Free State book and manage campus facilities.
            Our mission is to streamline the facility booking process and make resources more accessible to the UFS community. Our online booking system allows users
            to browse available venues like classrooms, conference rooms, sports fields and laboratories.
            They can instantly check real-time availability and book the
            perfect space for their needs like meetings, events or activities. We strive to offer a quick and hassle-free experience. The platform is accessible via
            desktop and mobile, so users can book from anywhere. Our goal is to support the diverse facility needs of the UFS community and help foster collaboration 
            through optimized access to shared resources.
       </p>
        <h4><b>Meet The Developer <span class="text-muted"> | Mncedisi Mlangeni</span> </b></h4>
        <h6 style="text-align:justify;">
            A final year Computer Science student at the University of Free State.
            Mncedisi has worked diligently on Facilify as his final year project. He has strong skills in full stack web development using .NET and SQL Server technologies.
            In building UFS Facilify, Mncedisi focused on creating a user-friendly and reliable solution for facility booking at UFS. Attention was given to responsiveness, performance and integration capabilities.
            As the sole developer so far, Mncedisi is responsible for the entire codebase and ongoing improvements.
       </h6>
    </div>
</main>