@{
    ViewBag.Title = "Facilify - Contact us";
}


<main>
    <div class="mt-4">
        <h2 class="text-muted">Contact us</h2>
        <h6>
            Need help or have feedback about Facilify? Use the options below to reach our support team.
            <br /><br />
            For General Assistance
            <br /><br />

            <b>
            Facilify Helpdesk<br />
            ufsfacilify@gmail.com<br />
            +27 67 110 1999
            </b>

            <br /><br />
            The helpdesk is available Monday-Friday from 8am-5pm to answer questions about your account, bookings, payments or the facility booking process.
            <br /><br />
            For Technical Issues or Enhancement Requests
            <br /><br />

            <b>
                Mncedisi Mlangeni<br />
                Developer<br />
                2018477634@ufs4life.ac.za<br />
            </b>

            <br /><br />
            For any bugs you encounter, errors or new features you would like to see, feel free to contact the developer directly. Be sure to include detailed steps to reproduce any technical problems. Feature requests are also welcome to help improve Facilify for all users.
            <br />
            We aim to respond to all enquiries within 1 business day. For urgent assistance after hours, please phone the helpdesk.
        </h6>
    </div>
</main>