@model Booking
@{
    ViewBag.Title = "Facilify - Booking cancelled";
}


<main>
    <div class="mt-4 mb-4">
        <div class="text-center">

            <img class="img-fluid" style="height:300px;" src="/images/paymentfail.png" />

            <h1 class="display-3">Order cancelled</h1>
            <h6>Booking for @Model.UserEmail was cancelled by user. If you encountered any problems, contact the system administrator</h6>
            <br />
            <a asp-action="Index" asp-controller="Home" class="btn btn-danger btn-sm">Return to homepage</a>
        </div>
    </div>
</main>

